body, html {
    margin: 0;
    font-family: calibri;
}

title {
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

table{
    border: 2px solid #aaa;
}

th, td{
    border: 2px solid #aaa;
    height: 20px;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 10px;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

input[type=text] {
    margin: 5px;
    width: 100px;
    border-style: groove;
    padding: 12px 20px;
    box-sizing: border-box;
}

input[type=submit] {
    margin: 5px;
    width: 100px;
    padding: 12px 20px;
    background-color: #4CAF50;
    border: 2px solid  #000000;
    color: white;
}