{% extends 'base.html' %}

{% block head %}
<title>Calculator</title>
{% endblock %}

{% block body %}
<div class="'content">
    <h1 style="text-align: center">Update Calc</h1>

    <form action="/update/{{task.id}}" method="POST">
        <input type="text" name="content1" id="content1" value="{{task.content_x}}">
        <input type="text" name="content2" id="content2" value="{{task.content_y}}">
        <input type="text" name="content3" id="content3" value="{{task.content_z}}">
        <input type="text" name="content4" id="content4" value="{{task.logic_number}}">


        <!-- ezt a részt kell átírni, hogy amikor updatelek, már ki legyen pipálva a megfelelő radiobutton  -->
        <input type="radio" id="logic1" name="content4" value="1">
        <label for="logic1">1</label><br>
        <input type="radio" id="logic2" name="content4" value="2">
        <label for="logic2">2</label><br>
        <input type="radio" id="logic3" name="content4" value="3">
        <label for="logic3">3</label><br><br>
        <input type="radio" id="logic4" name="content4" value="4">
        <label for="logic4">4</label><br><br>

        <input type="submit" value="Update">
    </form>

</div>
{% endblock %}